:root{
  --white: #ffffff;
  --dark-green: #3B623F;
  --dark-green-secondary:#2D4B30;
  --light-green: #F8FAF2;
  --light-green-secondary: #EEF2E4;
  --gray: #b6b6b6;
  --gray-secondary: #777777;
  --darker-gray:#555555;
  --lighter-gray:#aaaaaa;
  --black: #2c2c2c;
  --yellow-primary: #F6D47F;
  --yellow-lighter: #FFD54F;

  --border-radius: 8px;
  --font-size-p-small:0.75rem;
  --font-size-label: 0.875rem;
  --font-size-button-M: 1rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.125rem;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_opsz\,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
  color: var(--white);
  background:var(--light-green);
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

h1{
  font-size: var(--font-size-h2);
  color: var(--darker-gray);
  margin-top: 3rem;
}

h3{
  font-size: var(--font-size-h3);
  color: var(--darker-gray);
  font-weight: 400;
}

h4{
  font-size: var(--font-size-h4);
  font-weight: 600;
  color: var(--black);
  margin:1rem;
  margin-bottom: 0;
}

small{
  padding: 0.4rem;
  color: var(--gray-secondary);
  font-size: var(--font-size-p-small);
}

.icon{
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.5rem;
  vertical-align: middle;
  background: var(--white);
  border-radius: 9999px;
}

.font-alert{
  font-size: 4rem;
  font-weight: 700;
  margin:0.65rem;
}

.dark-text{
  color: var(--black);
}

.upcoming-tasks-section{
  width:100%;
  display: flex;
  flex-direction: column;
}

.task-goal{
  display: flex;
  justify-content: space-between;
  background-color: var(--light-green-secondary);
  border-radius: var(--border-radius);
  padding: 0.75rem 1.2rem;
}

.tasks-container{
  width: 100%;
  padding:0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap:1rem;
}

.your-pomodoro-container, .pomodoro-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
}



.tasks-container>li, .pomodoro-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem;
  border-radius: var(--border-radius);
  background-color: var(--white);
  color: var(--black);
}


.pomodoro-card{
  padding-bottom: 2rem;
  padding-top: 2rem;
  align-items: center;
}

.titleBar {
  -webkit-app-region: drag;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-green);
  color: var(--light-green);
  font-weight: 400;
  z-index: 999999999;
}

main {
  margin-left:200px;
  padding: 1rem;
}
aside {
  position: fixed;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  border-right: 1px solid var(--gray);
  z-index: 10000;
}
aside img {
  width: 30%;
  margin-top: 7vh;
  margin-left: 2vw;
}

.pie-chart {
  width: 50%;
  max-width: 250px;
  min-width: 150px;
  aspect-ratio: 1 / 1;
}

.tasks-table{
  width: 100%;
}

.tasks-table th{
  background-color: var(--dark-green);
  color:var(--white);
  padding: 0.65rem 1rem;
  font-size: var(--font-size-button-M);
  font-weight: normal;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  text-align: left;
}

.tasks-table td{
  background-color: var(--white);
  color: var(--black);
  padding: 0.65rem 1rem;
  font-size: var(--font-size-button-M);
  margin:0;
}

.tasks-table tr:last-child td:first-child {
  border-bottom-left-radius: var(--border-radius);
}

.tasks-table tr:last-child td:last-child {
  border-bottom-right-radius: var(--border-radius);
}

.complete-tasks-section{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:0.75rem;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--black);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--darker-gray);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background:var(--gray-secondary);
}

::-webkit-scrollbar-thumb:active {
  background:var(--lighter-gray);
}

.content{
  width:100%;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.input-primary{
    width:40vw;
  padding: 0.5rem;
  margin: 0.2rem;
  box-sizing: border-box;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  background-color: var(--white);
  color: var(--black);
}

.input-container{
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

label{
  color: var(--black);
  padding-bottom: 0.2rem;
}

.button-primary{
  width:40vw;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--dark-green);
  color: var(--light-green);
  cursor: pointer;
}

.button-secondary{
  width:fit-content;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--yellow-primary);
  color:var(--black);
  cursor: pointer;
}

.button-primary:hover{
  background-color: var(--dark-green-secondary);
}

.button-secondary:hover{
  background-color: var(--yellow-lighter);
}

.M{
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  font-size: var(--font-size-button-M);
}

.paragraph-small{
  font-size: var(--font-size-p-small);
  color: var(--black)
}

.button-terciary{
  font-size: var(--font-size-p-small);
  background: none;
  border: none;
  color: var(--dark-green);
  cursor: pointer;
  text-decoration: underline;
}

h2{
  font-size: var(--font-size-h2);
  color: var(--black);
}

.login-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

