:root{
  --white: #ffffff;
  --dark-green: #3B623F;
  --dark-green-secondary:#2D4B30;
  --light-green: #F8FAF2;
  --gray: #b6b6b6;
  --gray-secondary: #777777;
  --darker-gray:#555555;
  --lighter-gray:#aaaaaa;
  --black: #2c2c2c;

  --border-radius: 8px;
  --font-size-p-small:0.75rem;
  --font-size-label: 0.875rem;
  --font-size-button-M: 1rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_opsz\,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
  color: var(--white);
  background:var(--light-green);
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

h3{
  font-size: var(--font-size-h3);
  color: var(--darker-gray);
}

.task-list>li{
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--white);
  color: var(--black);
}

.titleBar {
  -webkit-app-region: drag;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-green);
  color: var(--light-green);
  font-weight: 400;
  z-index: 999999999;
}

main {
  padding-top: 30px;
  width: calc(100vw - 10px);
}
aside {
  position: fixed;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 30%;
  min-width: 150px;
  max-width: 300px;
  border-right: 1px solid var(--gray);
  z-index: 10000;
}
aside img {
  width: 30%;
  margin-top: 7vh;
  margin-left: 2vw;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--black);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--darker-gray);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background:var(--gray-secondary);
}

::-webkit-scrollbar-thumb:active {
  background:var(--lighter-gray);
}

.input-primary{
    width:40vw;
  padding: 0.5rem;
  margin: 0.2rem;
  box-sizing: border-box;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  background-color: var(--white);
  color: var(--black);
}

.input-container{
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

label{
  color: var(--black);
  padding-bottom: 0.2rem;
}

.button-primary{
  width:40vw;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--dark-green);
  color: var(--light-green);
  cursor: pointer;
}

.button-primary:hover{
  background-color: var(--dark-green-secondary);
}

.M{
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  font-size: var(--font-size-button-M);
}

.paragraph-small{
  font-size: var(--font-size-p-small);
  color: var(--black)
}

.button-terciary{
  font-size: var(--font-size-p-small);
  background: none;
  border: none;
  color: var(--dark-green);
  cursor: pointer;
  text-decoration: underline;
}

h2{
  font-size: var(--font-size-h2);
  color: var(--black);
}

.login-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

