:root{
  --white: #ffffff;
  --dark-green: #3B623F;
  --light-green: #F8FAF2;
  --gray: #b6b6b6;
  --gray-secondary: #777777;
  --darker-gray:#555555;
  --lighter-gray:#aaaaaa;
  --black: #2c2c2c;

  --border-radius: 8px;
  --font-size-label: 0.625rem;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_opsz,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
  color: var(--white);
  background:var(--light-green);
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}
.titleBar {
  -webkit-app-region: drag;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-green);
  color: var(--light-green);
  font-weight: 400;
  z-index: 999999999;
}

main {
  padding-top: 30px;
  width: calc(100vw - 10px);
}
aside {
  position: fixed;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  border-right: 1px solid var(--gray);
  z-index: 10000;
}
aside img {
  width: 30%;
  margin-top: 7vh;
  margin-left: 2vw;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--black);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--darker-gray);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background:var(--gray-secondary);
}

::-webkit-scrollbar-thumb:active {
  background:var(--lighter-gray);
}

.input-primary{
  width: 30%;
  padding: 0.5rem;
  margin: 0.2rem;
  box-sizing: border-box;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  background-color: var(--white);
  color: var(--black);
}

.input-container{
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

label{
  color: var(--black);
  padding-bottom: 0.2rem;
}