html {
  color: #ffffff;
  background: #F8FAF2;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.titleBar {
  -webkit-app-region: drag;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: #3B623F;
  color: #F8FAF2;
  font-weight: 400;
  z-index: 999999999;
}

main {
  padding-top: 30px;
  overflow: auto;
  width: calc(100vw - 10px);
  height: 100%;
  padding-right: 10px;
  box-sizing: content-box;
}
aside {
  position: fixed;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  border-right: 1px solid #b6b6b6;
  z-index: 10000;
}
aside img {
  width: 30%;
  margin-top: 7vh;
  margin-left: 2vw;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777777;
}

::-webkit-scrollbar-thumb:active {
  background: #aaaaaa;
}
